[submodule "starfishd/libasteroid"]
	path = starfishd/libasteroid
	url = https://github.com/AsteroidOS/libasteroid
[submodule "starfishd/libwatchfish"]
	path = starfishd/libwatchfish
	url = https://git.javispedro.com/libwatchfish.git
